
{% extends "admin/change_form.html" %}
{% load i18n static %}
{% load static %}


{% block breadcrumbs%}
<div class="breadcrumbs">
    <nav class="navbar navbar-expand-md">
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group mr-2" role="group" aria-label="First group">
                <a class="nav-link active btn btn-outline-secondary btn-lg" aria-current="page" href="{% url 'acessos_list'%}">Home</a>
            </div>
            <div class="btn-group mr-2" role="group" aria-label="Second group">
                <a class="nav-link btn btn-outline-secondary btn-lg" href="{% url 'admin:acessos_acesso_add'%}">Cadastrar Novo</a>
            </div>
            <div class="btn-group" role="group" aria-label="Third group">
                <a class="nav-link btn btn-outline-secondary btn-lg" href="{% url 'all_areas'%}">Areas</a>
            </div>
        </div>
    </nav>
</div>


<!-- <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li> -->
{% endblock %}

