{% extends 'base.html' %}

{% block title %}
Lista de acessos
{% endblock %}

{% block navbar%}
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{% url 'acessos_list'%}">Lista de Acessos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'acessos_new'%}">Novo Relatório</a>
    </li>
    <!-- <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li> -->
{% endblock %}

{% block main %}  
<div class="p-5 rounded">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Matrícula</th>
                <th scope="col">Nome</th>
                <th scope="col">Acessos</th>
                <th scope="col">Data de alteração</th>
                <th scope="col">Editar</th>
            </tr>
        </thead>
        <tbody>
            {% for acesso in acessos %}
            <tr>
                <th scope="row">{{acesso.dsMatricula}}</td>
                <td>{{acesso.dsUsuario}}</td>
                <td>
                    {% for sistema in acesso.get_access_html%}
                        {{sistema.dsNome}} <br>
                    {% endfor %}
                    <!-- {{acesso.get_access_html}} -->
                </td>
                <td>{{acesso.dtUpdate}}</td>
                <td><a href="{% url 'acessos_edit' acesso.id %}" class="btn btn-primary" role="button">Editar</a></td>
            </tr>
            {% endfor %}
        </tbody>


    </table>
</div>
{% endblock %}