<!DOCTYPE html>
<html lang="en">
<title>{% block title %}{%endblock%}</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">


<bod class="bg-light">

    <!-- Navbar -->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Gestão de acessos - MIS</a>

            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    {% block navbar %}{%endblock%}
                </ul>
        </div>
    </nav>
    <main class="container">
        {% block main %}{%endblock%}
    </main>

        <footer class="my-5 pt-5 text-muted text-center text-small">
            <p class="mb-1">Desenvolvido por: <a href="mailto:rhuan@rhuanlima.com.br">Rhuan Lima</a></p>
        </footer>
</body>

</html>