{% extends 'admin/base_site.html' %}

{% block content_title %}
<h1>Lista de acessos por Área : <b>{{acessos.0.dsArea}}</b></h1>
{% endblock %}

{% block content %}
<fieldset class="module grp-module ">
    <table class="table table-hover rounded">
        <thead class="thead-dark rounded">
            <tr>
                <th scope="col">Área</th>
                <th scope="col">Matrícula</th>
                <th scope="col">Nome</th>
                <th scope="col"># Sistemas Internos</th>
                <th scope="col"># Sistemas Externos</th>
                <th scope="col"># Pastas de rede</th>
                <th scope="col">Data de alteração</th>
                <th scope="col">Visualizar</th>
            </tr>
        </thead>
        <tbody>
            {% for acesso in acessos %}
            <tr>
                <th scope="row">{{acesso.dsArea}}</td>
                <td>{{acesso.dsMatricula}}</td>
                <td>{{acesso.dsUsuario}}</td>
                <td>
                    {{ acesso.get_si_html|length}}
                </td>
                <td>
                    {{ acesso.get_se_html|length }}
                </td>
                <td>
                    {{acesso.get_folders_html|length}}
                </td>
                <td>{{acesso.dtUpdate}}</td>
                <td>
                    <a href="{% url 'admin:acessos_acesso_change' acesso.id%}" class="btn btn-primary" role="button"><i
                            class="fas fa-search"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</fieldset>
{% endblock %}